/* General Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #343a3c;
    z-index: 2;
    padding: 10px 50px;
}

.header h1 {
    display: inline;
    margin-right: auto;
}
.header nav {
    display: inline;
    margin-left: 10px;
}
.header nav a {
    color: white;
    margin: 0 10px;
}

.header.logged-in {
    padding: 3px;
}

.menuButton {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 20px;
}

.menuButton:hover {
    color: #ddd;
}

.p-sidebar-lg {
    background-color: #343a3c;
    color: white;
    width: 150px;
}

.p-sidebar-lg h3 {
    color: #ffffff;
    margin: 0 0 10px;
}

.sidebar-link {
    display: block;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    margin: 5px 0;
}

.sidebar-link:hover {
    background-color: #424648;
}
